header {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-height: 10vh;
  }

  main {
    min-height: 81.6vh;
  }

  footer {
    width: 100%;
    max-height: 15vh;
  }

  .fundo {
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 0;
    text-align: center;
    color: white;    
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  @media screen and (max-height: 800px){
    header {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        max-height: 15vh;
    }
    main {
        min-height: 75vh;
    }
    footer {
        width: 100%;
        max-height: 10vh;
    }
  }
