<h1>pg-cadastro-ocorrencia works! teste</h1>

<button type="button" class="btn btn-info">Info</button>

<button type="button" class="btn btn-primary">Primary</button>



<form>

  <div >
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </div>


</form>



<div class="container mt-5">
  <h1 class="text-center">Exemplo de Integração Bootstrap e Angular Material</h1>

  <!-- Botão do Bootstrap -->
  <button type="button" class="btn btn-primary mt-3">
    Botão do Bootstrap
  </button>

  <!-- Botão do Angular Material -->
  <button mat-raised-button color="warn" class="mt-3">
    Botão do Angular Material
  </button>

  <!-- Exemplo de Card do Angular Material -->
  <mat-card class="mt-4">
    <mat-card-header>
      <mat-card-title>Card do Angular Material</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Este é um exemplo de card utilizando o Angular Material.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ok</button>
      <button mat-button>Cancelar</button>
    </mat-card-actions>
  </mat-card>

  <!-- Exemplo de Grid do Bootstrap -->
  <div class="row mt-5">
    <div class="col-md-6">
      <div class="alert alert-success" role="alert">
        Grid com Bootstrap
      </div>
    </div>
    <div class="col-md-6">
      <div class="alert alert-warning" role="alert">
        Outro item do Grid
      </div>
    </div>
  </div>
</div>